/* landingPage.css */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
 
}

.landing-page {
  text-align: center;
  background-image: url('https://images.unsplash.com/photo-1696857889558-cfc2b105f998?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MjEzODA4NTB8&ixlib=rb-4.0.3&q=85');
  background-size: cover;
  color: #ffffff;
  height: 100vh;
  width: 100vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav li {
  margin-left: 20px;
}

.nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

.hero {
  
  height: 100vh;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.hero-content {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  align-items: center;
}

.hero h1 {
  font-size: 48px;
  margin: 0;
  color: aqua;
}

.hero p {
  font-size: 20px;
  margin: 10px 0 20px;
}

.cta-button {
  background: #ff6347;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.cta-button:hover {
  background: #e5533d;
}

.footer {
  background-color: #fff;
  padding: 20px 10%;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
  font-size: 14px;
}