/* sydneytripcard.css */

.wrapper {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  max-width: 120rem;
  padding: 4rem;
  background-color: #f7f7f7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cols {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  width: calc(20% - 2rem);
  margin: 2rem;
  cursor: pointer;
}

.col.hover {
  transform: scale(1.05);
}

.container {
  transform-style: preserve-3d;
  perspective: 1000px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
}

.front {
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-position: center;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;
  text-align: center;
  min-height: 400px;
  height: auto;
  border-radius: 10px;
  color: #fff;
  font-size: 2rem;
  padding: 4rem;
}

.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  opacity: 0.6;
  background-color: #000;
  backface-visibility: hidden;
  border-radius: 10px;
}

.inner {
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 4rem;
  color: #fff;
  box-sizing: border-box;
  outline: 1px solid transparent;
  perspective: inherit;
  z-index: 2;
}

.front.inner h4 {
  font-size: 25px;
  margin-bottom: 3rem;
  margin-left: -20px;
  color: #fff;
  position: relative;
}

.front.inner h4:after {
  content: '';
  width: 6rem;
  height: 3px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -1.25rem;
}

.front.inner span {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

button {
  font-weight: bold;
  color: white;
  border-radius: 2rem;
  cursor: pointer;
  width: 95.02px;
  height: 42.66px;
  border: none;
  background-color: #3653f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.span-mother {
  display: flex;
  overflow: hidden;
}

button.span-mother span {
  transform: translateY(0);
}

button.span-mother2 {
  display: flex;
  position: absolute;
  overflow: hidden;
}

button.span-mother2 span {
  transform: translateY(-1.2em);
}